name: instagram_clone
description: A new Flutter project.
publish_to: 'none'
version: 0.0.1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^0.1.3
  firebase_auth: ^0.16.0
  redux: ^4.0.0
  flutter_redux: ^0.6.0
  cloud_firestore: ^0.13.5
  intl: ^0.16.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - res/